
/*dette definerer farge og plasering a bakrunen*/
body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  








/*detter definerer kordan grid systemet eg bruker fungerer*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-areas: "header header header header header" 
                        "textimage textimage textimage textimage textimage"
                        "textimage textimage textimage textimage textimage"
                        "textimage textimage textimage textimage textimage"
                        "footer footer footer footer footer";
}

.header-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas: "header1 header1 header1 header1 header3 header4 header5 header6 header8 header10" ;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "bilde1 bilde1 bilde1 bilde1 bilde1"
                      "text1 text1 text1 text1 sidebar"
                      "text2 text2 text3 text4 sidebar1";
}





/*dette er det som definerer kordan dropdown button skal virke og see ut*/
.dropbtn {
  background-color: rgb(255, 174, 0);
  color: black;
  padding: 30px 85px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: x-large;
  font-family: sans-serif;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 283px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: solid rgb(27, 27, 27);
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 208, 0)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(204, 141, 4);
}






/*dette er det som definerer kordan dropdown button numer 2 skal virke og see ut*/
.dropbtn1 {
  background-color: rgb(255, 174, 0);
  color: black;
  padding: 30px 85px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: x-large;
  font-family: sans-serif;
  text-align: center;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 303px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: solid rgb(27, 27, 27);
}

.dropdown-content1 a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: rgb(255, 208, 0)}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: rgb(204, 141, 4);
}








/*dette er de som definerer fonten, plaseringen og størelse på teksten eg bruker*/
.h1 {
  font-family: sans-serif ; 
  text-align: center;
}

.h2 {
font-family:sans-serif ;
text-align: center;
color: solid rgb(0, 0, 0);
}

.overskrift{
  text-align: center;
 padding: 10px 10px;
}

.skrift{
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 50px;
}

.prosjekt{
  color: rgb(0, 0, 0);
font-size: large;
padding-left: 20px;
text-decoration: none;

}

.prosjekt-overskrift{
  color:  rgb(0, 0, 0);
  font-size: x-large;
  text-align: center;
}


.link1{
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.link2{
  color: black;
  border: none;
}
 




/*dette er hvor eg linker deti forskelige delene av gridene mine hved index*/
  .footer { grid-area: footer ;}
  .header { grid-area: header; }
 .textimage {grid-area: textimage; }

  .bilde1 { grid-area: bilde1; }
  .bilde2 { grid-area: bilde2; }
  .bilde3 { grid-area: bilde3; }
  .bilde4 { grid-area: bilde4; }
  .bilde5 { grid-area: bilde5; }
  .text1 { grid-area: text1; }
  .text2 { grid-area: text2; }
  .text3 { grid-area: text3; }
  .text4 { grid-area: text4; }
  .sidebar { grid-area: sidebar; }


 .header1 { grid-area: header1; }
 .header2 { grid-area: header2; }
 .header3 { grid-area: header3; }
 .header4 { grid-area: header4; }
 .header5 { grid-area: header5; }
 .header6 { grid-area: header6; }
 .header7 { grid-area: header7; }
 .header8 { grid-area: header8; }
 .header9 { grid-area: header9; }
 .header10 { grid-area: header10; }

/* dete er hvor eg definerer clolor, borders, plasering og bakrund på dei forskelige grid delene */
.sidebar {
  margin-top: 9px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color:  rgb(255, 208, 0) ;
  border:solid rgb(190, 156, 3) 10px;
}

.header1{
  background-color:   rgb(255, 174, 0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  padding: 0px 0px;
  margin-top: 5px;
  margin-bottom: 9px;  
  margin-right: 5px;
  margin-left: 5px;

}
.header8{
  background-color:  rgb(255, 174, 0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:0px 0px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 9px;
  margin-right: 5px;
  margin-left: 5px;
}
.header10{
  background-color:  rgb(255, 174, 0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:0px 0px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 9px;
  margin-right: 5px;
  margin-left: 5px;
}

.text1{
  margin-top: 9px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color:  rgb(255, 174, 0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: rgb(0, 0, 0);
  font-size: larger;
}

.bilde1 {
  background-image: url(Amalie_Skram.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  position: relative;
  margin: 5px;
  alt: Amalie Skram VGS;
}






